<form action=" <%= session_url %> " method="post">
  <label for="user_name">Name</label>
  <input id="user_name" type="text" name="user[name]">
  <label for="password"></label>
  <input id="password" type="password" name="user[password]">
  
  <input type="submit" value="Sign In">
</form>

