<h1><%= @user.name %></h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <% [:name].each do |attr_name| %>
    <tr>
      <td><%= attr_name %></td>
      <td><%= @user.send(attr_name) %></td>
    </tr>
  <% end %>
</table>